@tailwind base;
@tailwind components;
@tailwind utilities;
  


html, body {
    min-height: 100%;
    min-width: 100%;
}

a {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
}

a:hover{
    --tw-text-opacity: 1;
    color: rgb(6 182 212 / var(--tw-text-opacity));
}