@tailwind base;
@tailwind components;
@tailwind utilities;
  


html, body {
    min-height: 100%;
    min-width: 100%;
}

.post-component{
    display: flex;
    max-width: 350px;
    flex-direction: column;
}

.post-list{
    display: flex;
    flex-direction: column;
}